<link rel="stylesheet" href="/static/style.css" xmlns="http://www.w3.org/1999/html">
<header>
    <h1>Mr Coconut.com</h1>
</header>
<nav>
<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>
</nav>
<br><br><br><br><br><br><br><br><br>
<body>
<center>
    <h2>
       Welcome to mrcoconut.com, I am N.MANIKANDAN hailing from Thanjavur. <br>
        I am a coconut farmer , who as every farmer couldn't get proper price for my Harvest.<br>
        So I thought why not bypass the agent and sell my product directly to end customer. <br>
        With the digital era growing so fast we brought our harvest to the World wide Web<br>


</center>
</h2>
</body>
<br><br><br><br><br><br><br><br><br>
<footer>
  <p>Copyright: mrcoconut.com</p>
    <p>Email:mrcoconut@gmail.com|Mobile: 9176144114</p>
</footer>