<link rel="stylesheet" href="/static/style.css" xmlns="http://www.w3.org/1999/html">
<header>
    <h1><span style="background-color: #FFFF00"><a href="/home/">Mr Coconut.com</a></span></h1>
  </header>
<nav>
<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
  <li><a href="/products/">Products</a></li>
</ul>
</nav>

<body>
<center>
    <h2>
        N.MANIKANDAN <br>
        184,KUTCHERY ROAD,<br>
        MYLAPORE,<br>
        CHENNAI-600004<br>
        MOB:- 9176144114|8098033702|9787051751<br>
        Facebook :- mrcoconut@facebook.com<br>
        gmail:- Mrcoconut.in@gmail.com


</center>
</h2>
</body>
<br><br><br><br><br><br><br><br><br>
<footer>
  <p>Copyright: mrcoconut.com</p>
    <p>Email:Mrcoconut.in@gmail.com|Mobile: 9176144114</p>
</footer>