<link rel="stylesheet" href="/static/style.css" xmlns="http://www.w3.org/1999/html">
<header>
    <h1><span style="background-color: #FFFF00">Mr Coconut.com</span></h1>
  </header>
<nav>
<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>
</nav>
<br><br><br><br><br><br>

<center>
    <h2> PLACE ORDER</h2>
    <form action="/update/" method="post">{% csrf_token %}
        <table>{{form}}<br> </table> <br>
    <input type="submit" value="PLACE ORDER"/>
    </form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h2><span style="background-color: #FFFF00"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span></h2>
    {% endfor %}
</ul>
{% endif %}
</center>

<br><br><br><br><br><br><br><br><br>
<footer>
  <p>Copyright: mrcoconut.com</p>
    <p>Email:mrcoconut@gmail.com|Mobile: 9176144114</p>
</footer>

