<link rel="stylesheet" href="/static/style.css" xmlns="http://www.w3.org/1999/html">
<header>
    <h1><span style="background-color: #FFFF00"><a href="/home/">Mr Coconut.com</a></span></h1>
  </header>
<nav>
<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
  <li><a href="/products/">Products</a></li>
</ul>
</nav>
<center><img src="/images/bg.PNG" style="width:50%;height:400px;"></center>
<footer>
  <p>Copyright: mrcoconut.com</p>
    <p>Email:Mrcoconut.in@gmail.com|Mobile: 9176144114</p>
</footer>