header {
  background: url(images/header.jpg);
  text-align: center;
  padding: 15px;
}
* The navbar container */
topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
topnav a:hover {
  background-color: #ddd;
  color: black;
}
body {
    background: url(images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
}

div {

}


textarea {
  background-color : white;
  color:black;
}

footer {
  background-color: white;
  text-align: center;
  padding: 20px;
}

